@import url('https://fonts.googleapis.com/css2? family= Bebas+Neue & display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --vermelho: #E50914;
  --preto: #141414;
  --cinza: #AAA;
  --nav-transition-branco: #FFF;
}

body {
  background-color: var(--preto);
  font-family: 'Times New Roman', Times, serif;
  color: #FFF;
}

 header.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container .logo {
  color: var(--vermelho);
  font-family: 'Bebas Neue';
  font-weight: 700 bolder;
  font-size: 40px;
  margin-left: 5px;
}

header nav a {
  text-decoration: none;
  color: var(--cinza);
  margin-right: 10px;
}

header nav a:hover {
  color: var(--nav-transition-branco);
}

main .filme-principal {
  font-size: 16px;
  background: url(/img/capa-spider.jpg);
  background-size: cover;
  background-position: center;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; /* Itens começando na esquerda */
}

.filme-principal:hover {
  background: linear-gradient(to right, rgba(0, 0, 0, .6), rgba(0, 0, 0, .010)), url(/img/capa-spider.jpg);
  background-size: cover;
  background-position: center;
}

.container {
  margin-left: 20px;
}

.filme-principal .container {
  width: 70%;
}

.filme-principal .container .descricao {
  margin-bottom: 90px;
}

.titulo {
  font-size: 40px;
  font-family: 'Trebuchet MS', Arial, sans-serf;
}

.filme-principal p {
  width: 500px;
  margin-top: 20px;
}

.botao {
  background-color: rgba(0, 0, 0, 0.50);
  border: none;
  color: #fff;
  padding: 15px 30px;
  margin-right: 15px;
  font-size: 12px;
  cursor: pointer;
  transition: .4s ease all;
}

.botao:hover{
 background-color: rgba(255, 255, 255, 0.9);
 color: black;
}

.botao i{
  margin-right: 6px;
}